<template name="nav">
	<nav class="nav navbar-dark bg-dark align-items-center px-3">
    <div class="f-1"></div>
    <a href="/home" class="navbar-brand f-1 d-flex justify-content-center">
      <h2 class="pt-2">
        Amnesia
      </h2>
    </a>
    <div class="position-relative f-1 d-flex justify-content-end">
      <div class="dropdownTrigger navDrop text-light d-flex">
        {{#if currentUser}}
  				<div>{{currentUser.username}}</div>
  			{{else}}
  			  <div>Login</div>
				{{/if}}
				<div class="ml-1 dropdownIndicator-left flat"></div>
			</div>
			<div class="bg-light dropdown flat">
        {{#if currentUser}}
          <div class="logins p-4">
            <button type="submit" id="logoutBtn" class="at-btn submit btn btn-block btn-default">Logout</button>
          </div>
        {{else}}
          {{>logins}}
        {{/if}}
			</div>
    </div>
	</nav>
</template>